body {
    background-color: dodgerblue;
    color: white;
}
.header1 {
    font-family: Arial;
    font-weight: normal;
    font-size: 150%;
}
.top {
    font-family: Arial;
    font-weight: normal;
    font-size: 150%;
    display:block;
    text-align: center;
}
.outputLabel {
    font-family: Arial;
    font-weight: bold;
    font-size: 80%;
    text-align: left;
}
.inputText {
    height: 20px;
    width: 200px;
    font-size: 100%;
}
.button {
    height: 40px;
    width: 210px;
    font-size: 130%;
    background-color: transparent;
    color: white;
}
.panelGrid {
    margin: 0 auto;
}
.message {
    font-family: arial;
    color: red;
}
.warning {
    font-family: arial;
    color: red;
}
.toolBar {
  background-color: transparent;
  color: white;
  height: 70px;
  font-size: 32px
}
